<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.austin.goaltracker" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.austin.goaltracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.austin.goaltracker.permission.C2D_MESSAGE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Model.GoalTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemePurple"
        tools:replace="android:icon" >
        <activity
            android:name=".View.Goals.GoalsBaseActivity"
            android:theme="@style/AppThemePurpleGoalsBase"
            android:label="@string/title_activity_goals" />
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".View.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".View.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.LoginActivity" />
        </activity>
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName=".View.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.LoginActivity" />
        </activity>
        <activity
            android:name=".View.SettingsActivity"
            android:label="@string/title_activity_settings_test"
            android:theme="@style/AppSettings" />
        <activity
            android:name=".View.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppSplashPurple" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Friends.FriendsBaseActivityListActivity"
            android:label="@string/title_friendsbaseactivity_list" />
        <activity
            android:name=".View.Friends.FriendsBaseActivityDetailActivity"
            android:label="@string/title_friendsbaseactivity_detail"
            android:parentActivityName=".View.Friends.FriendsBaseActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.Friends.FriendsBaseActivityListActivity" />
        </activity>
        <activity
            android:name=".View.Goals.GoalsTypeSelectActivity"
            android:label="@string/title_activity_goals_type_select"
            android:parentActivityName=".View.Goals.GoalsBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.Goals.GoalsBaseActivity" />
        </activity>
        <activity
            android:name=".View.Goals.GoalsStreakCreatorActivity"
            android:label="@string/title_activity_goals_streak_creator"
            android:parentActivityName=".View.Goals.GoalsTypeSelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.Goals.GoalsTypeSelectActivity" />
        </activity>
        <activity
            android:name=".View.Goals.GoalsCountdownCreatorActivity"
            android:label="@string/title_activity_goals_countdown_creator"
            android:parentActivityName=".View.Goals.GoalsTypeSelectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.Goals.GoalsTypeSelectActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Controller.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".Controller.CronJobIntentService"
            android:exported="false" />
        <service
            android:name=".Controller.GCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".Controller.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".View.PendingReminders.ReminderListActivity"
            android:label="@string/title_reminder_list" />
        <activity
            android:name=".View.PendingReminders.ReminderDetailActivity"
            android:label="@string/title_reminder_detail"
            android:parentActivityName=".View.PendingReminders.ReminderListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.austin.goaltracker.View.PendingReminders.ReminderListActivity" />
        </activity>
    </application>

</manifest>